* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}
:root {
  --text-color: #ffffff;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg: url(./assets/moon-stars.svg);
}
.light {
  --text-color: #000000;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg: url(./assets/sun.svg);
}
body {
  padding: 16px;
  background: var(--bg-url) no-repeat top center/cover;
  text-align: center;
}

#container {
  width: 360px;
  border: 0px white solid;
  margin: auto;
  padding: 0 24px;
}

#profile img {
  display: block;
  width: 112px;
  margin: auto;
  margin-top: 16px;
}
#profile p {
  padding: 16px;
  line-height: 24px;
  font-weight: 500;
  text-decoration: none;
  text-decoration: underline;
}
#switch {
  position: relative;
  width: 64px;
  margin: auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}
.light #switch button {
  right: 0;
  left: initial;
}
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}
ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s;
}
ul li a:hover {
  background: var(--surface-color-hover);
  border: 2px solid white;
}
#social {
  display: flex;
  justify-content: center;
  font-size: 28px;
  padding: 12px 0;
}
#social a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  transition: background 0.3s;
  border-radius: 50%;
}
#social a:hover {
  background: var(--highlight-color);
}
footer {
  font-size: 14px;
  padding: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
